# Ganti nilai ini sesuai nama project kamu
PROJECT_NAME=nama-project-kamu

# Port yang bisa diakses di browser
APP_PORT=8080
PMA_PORT=8081
DB_PORT=3306

# Kredensial database
DB_ROOT_PASS=rootsecret
DB_NAME=nama_database
DB_USER=dbuser
DB_PASS=dbpassword
